{% extends "layout.html.twig" %}

{% block content %}
    <div id="resultnav">
        {% set cur = 'describe' %}
        {% include 'datasets/tabnavs.twig' %}
    </div>

    <div class="row">
        <div class="col-md-8">

            
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">save description</button>
            </div>
            {{ form_end(form) }}

        </div>

        <div class="col-md-4">

            <h1>Describe dataset '{{ set.name }}'</h1>

            <p>Pleas describe the dataset in Dutch.</p>

        </div>
    </div>



{% endblock %}