<?php

// SITE configs
$app['sitename'] = 'Histograph - Pit Importer Part One';
$app['upload_dir'] = __DIR__ . '/../storage/uploads';
$app['export_dir'] = __DIR__ . '/../storage/exports';
$app['api_user'] = 'geo-user';
$app['api_pass'] = 'xxxxxxyyz';

$app['aws_key'] = 'xxx';
$app['aws_secret'] = 'yyy';
$app['aws_bucket'] = 'zzz';

// BASIC USERS with PASSWORD
$app['users'] = array(
    'username' => 'password',
);

// FOR DEVELOPMENT
$app['debug'] = true;

// FOR PRODUCTION
$app['debug'] = false;


// LOCALE
$app['locale'] = 'nl';
$app['session.default_locale'] = $app['locale'];


// DOCTRINE DBAL
$app["db.options"] = array(
    'driver'   => 'pdo_mysql',
    'host'     => 'localhost',
    'user'     => 'xxx',
    'password' => 'xxx',
    'dbname'   => 'xxx',
    'charset'   => 'utf8',
);

// MONOLOG
$app->register(new Silex\Provider\MonologServiceProvider(), array(
    'monolog.logfile' => __DIR__ . '/../../app/storage/log/prod.log',
    'monolog.name'    => 'Pipo-app',
    'monolog.level'   => Monolog\Logger::WARNING,
    //'monolog.level'   => Monolog\Logger::DEBUG,
));

// CACHES
$app['cache.path'] = __DIR__ . '/../storage/cache';
// Http cache
$app['http_cache.cache_dir'] = $app['cache.path'] . '/http';
// Twig cache
$app['twig.options.cache'] = $app['cache.path'] . '/twig';
