@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,400);


body{
	background-color: #E9ECFF;
	color:#8F8891;
}
ul{
	padding-left: 20px;}
h1,h2,h3,.navbar-default, label, .btn{
	font-family: 'Roboto Slab', serif;
}
h1{
	margin-bottom: 24px;
	font-size: 28px;
}
.col-md-8{
	padding-top: 24px;
}
a{
	color: #6D658C;
}
p {margin-top: 8px;}

#resultnav{
	margin-bottom: 24px;
}
#resultnav a{
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
	display: inline-block;
	padding: 0 20px 5px 20px;
	border-bottom: 2px solid #6D658C;
	margin: 0;
	text-decoration: none;
	color: #C1B8C3;
}
#resultnav a.current{
	color: #6D658C;
}
.navbar-default{
	background-color: #6D658C;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
	color: #fff;
}
.navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #E3C5EE;
}
.btn-default{
	margin-bottom: 8px;
}
.btn-primary{
	background-color: #6D658C;
	border-color: #6D658C;
	font-weight: bold;
}
.btn-sm{
	font-size: 13px;
	padding: 4px 12px;
	margin-top: 0;
	height: 30px;
}
label, th{
	color: #C1B8C3;
}
.map th{
	width: 300px;
}
textarea.form-control{
	height: 160px;
}
textarea.noform{
	margin-top: 10px;
	margin-bottom: 10px;
}
.form-control{
	padding: 3px 10px;
	height: 30px;
}

.table>thead>tr>th, .table>tbody>tr>th{
	border-top: none;
}
.map th{
	width: 300px;
}

.control-label.required:after {
    content:" *";
    color:red;
}