{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h1>Pit Importer Part One</h1>
            <div class="row">
                <div class="col-md-6">
                    <h2>Welcome Histograph enthusiasts!</h2>

                    <p>In order to be able to contribute to the Histograph core, you need to have an account.</p>
                    <p>You can probably get an account by asking someone in the Ergoed & Locatie-project. Please see
                    <a href="http://www.erfgoedenlocatie.nl">erfgoedenlocatie.nl</a>
                    </p>
                </div>

                <div class="col-md-6">
                    <h2>Already have an account?</h2>
                    <a href="{{ path('login') }}" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
