{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h1>Pit Importer Part One</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Doet iets....</li>
                    </ul>
                    
                </div>
                <div class="col-md-6">

                    
                </div>
            </div>
        </div>
    </div>


    </div>
{% endblock %}
